<section class="landing-container container-fluid">
  <img src="https://ktso11.github.io/FinDining_v2/public/assets/large-truck.svg" alt="large truck">
  <!-- <input class="search-input" placeholder="San Francisco CA 94107" type="text"/> -->
  <a href="/map"><button class="landing-cta">Find my next meal</button></a>
</section>
<section class="findining-info ">
  <img class="whatis-img text-center" src="https://ktso11.github.io/FinDining_v2/public/assets/whatisfindining.svg">
    <div class="container">

      <div class="findining-info-row row">

        <div class="findining-info-section col-lg-6">
          <img src="https://ktso11.github.io/FinDining_v2/public/assets/couple.png">
          <span class="findining-label">Find foodtrucks near you</span>
          <p class="findining-info-content">Search for your next mobile dining experience. Enter a address near you to get started!</p>
        </div>

        <div class="findining-info-section col-lg-6">
          <img src="https://ktso11.github.io/FinDining_v2/public/assets/tacotruck.png">
          <span class="findining-label">Let foodies know your location</span>
          <p class="findining-info-content">Drive traffic to your business by providing your location. Just signup or log-in to enter your location.</p>
        </div>
      </div>
    </div>
</section>
