
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Sign Up</h2>
        <br>
        <form method="POST" action="/partials/signup">
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="text" name="truckname" class="form-control" placeholder="Name of food truck" autofocus>
          </div>
          <!-- <div class="form-group">
            <input type="text" name="address" class="form-control" placeholder="Address" autofocus>
          </div> -->
          <div class="form-group">
            <select name="foodtype" placeholder="foodtype" autofocus>
              <option value="" disabled selected>Select food type</option>
              <option value="Mexcian">Mexican</option>
              <option value="Asian">Asian</option>
              <option value="American">American</option>
            </select>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary" value="Sign Up">
          </div>
        </form>
      </div>
    </div>
  </div>
