<!DOCTYPE html>
<html lang="en">
<% include ../views/partials/head %>
  <body>
    <% include ../views/partials/header %>

    <section class="container login-form">
      <div class="row">
        <div class="col-lg-6 login-signup">
          <% include ../views/partials/signup %>
        </div>
        <div class="col-lg-6 login-signup">
          <% include ../views/partials/login %>
        </div>
      </div>

    </section>
    <% include ../views/partials/footer %>
  </body>
</html>
