<!DOCTYPE html>
<html lang="en">
  <% include ../views/partials/head %>
  <body>
    <% include ../views/partials/header %>
    <div id="googleMap" style="width:100%;height:400px;"></div>
  </body>
</html>
