

navbar-brand{
  font-family: Shrikhand;
  font-size: 32px;
  background: #F07C14;

}

.navbar {
  letter-spacing: 0.04em;
  /* font-color: #4F4F4F; */
}

.nav-link,
.navbar-brand, footer a {
  font-family: Helvetica;
  letter-spacing: 0.1em;
  /* color: #4F4F4F; */
}

.navbar img{
  margin-left: .5em;
  margin-top: .5em;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #BDBDBD;
}
.navbar-collapse {
  justify-content: flex-end;
}
